@tailwind base;
@tailwind components;
@tailwind utilities;

body {
font-family: 'Ubuntu Mono', monospace;
color: var(--foreground);
background-color: var(--background);
}

:root {
--background: #ffffff;
--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
 :root {
   --background: #0a0a0a;
   --foreground: #ededed;
 }
}