.App {
  /*adjusting according to screen size*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh;
  /*fitting image to entire screen*/
  background-image: url('/workspaces/sri-s_portfolio/sri-s_portfolio/src/Images/background home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: center;
  margin: 0;
  padding: 0;
}

.Home {
  /*adjusting according to screen size*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh;
  /*fitting image to entire screen*/
  background-image: url('/workspaces/sri-s_portfolio/sri-s_portfolio/src/Images/background home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: center;
  margin: 0;
  padding: 0;
}

.AboutMe {
   /*adjusting according to screen size*/
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 110vh;
   /*fitting image to entire screen*/
   background-image: url('/workspaces/sri-s_portfolio/sri-s_portfolio/src/Images/background home.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: white;
   font-size: calc(10px + 2vmin);
   text-align: center;
   margin: 0;
   padding: 0;
}

.Skills { 
  /*adjusting according to screen size*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh;
  /*fitting image to entire screen*/
  background-image: url('/workspaces/sri-s_portfolio/sri-s_portfolio/src/Images/background home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: center;
  margin: 0;
  padding: 0;

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  padding: 20px 2.5%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header h4 { 
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 1;
  animation: slideRight 1s ease forwards;
}


.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
  opacity: 1;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
  /*reflection upto 40%*/
  -webkit-box-reflect: below 2px linear-gradient(transparent 30%, #00000040);
  z-index: 100;
}

.navbar a:hover {
  color: #7DF9FF;
}

.home-container { 
  /*rounded edges*/
  border-radius: 5%;
  margin: 5%;
  /*tranparent with 40% black*/
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 5%;
  margin-top: 8%;
}

.home { 
  /*placing items side by each other*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;

}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1ss ease forwards;
  animation-delay: .7s;
}

.text {
  color: #7DF9FF;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
  
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #7DF9FF;
  border-radius: 50%;
  font-size: 20px;
  color: #7DF9FF;
  text-decoration: none;
  transition: .5s ease;
  
  animation: slideTop 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
  margin: 30px 15px 30px 0;
}


.linkedinCircle {
  border: 2px solid #0e76a8; /* LinkedIn Blue border */
  color: #0e76a8; /* LinkedIn Blue icon */

}

.linkedinCircle:hover {
  background-color: #0e76a8 !important; /* LinkedIn Blue background on hover */
  color: #fff !important; /* White icon on hover */
}

.githubCircle { 
  border: 2px solid #fafafa; /* GitHub Black border */
  color: #fafafa; /* GitHub Black icon */
}

.githubCircle:hover {
  background-color: #fafafa !important; /* GitHub background on hover */
  color: #000 !important; /* GitHub icon color on hover */
}

.InstagramCircle { 
  border: 2px solid radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); /* Instagram linear gradient from F5 */
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); /* Instagram Purple icon */

}

.InstagramCircle:hover { 
  background-color: #dd2a7b !important; /* Instagram Purple background on hover */
  color: #fafafa !important; /* White icon on hover */
}

.discordCircle {
  border: 2px solid #7289da; /* Discord Blue border */
  color: #7289da; /* Discord Blue icon */
}

.discordCircle:hover {
  background-color: #7289da !important; /* Discord Blue background on hover */
  color: #fff !important; /* White icon on hover */
}

.spotifyCircle { 
  border: 2px solid #1ed760; /* Spotify Green border */
  color: #1ed760; /* Spotify Green icon */
}

.spotifyCircle:hover { 
  background-color: #1ed760 !important; /* Spotify Green background on hover */
  color: #000 !important; /* White icon on hover */
}

.home-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-img .Logo{
  width: 50%;
  height: auto;
  margin: 10px;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
  border-radius: 20%;
}

button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
 margin-top: 20px;
}

button.learn-more {
 width: 16rem;
 height: auto;
}

button.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: transparent;
 border-radius: 1.625rem;
 border: 3px solid #7DF9FF;  
}

button.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

button.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: -0.5rem;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #fff;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

button:hover .circle {
  width: 18rem;
  /* Glowing box shadow */
  box-shadow: 
    0 0 5px #7DF9FF, /* Inner light blue glow */
    0 0 10px #7DF9FF, /* Mid light blue glow */
    0 0 15px #7DF9FF, /* Outer light blue glow */
    0 0 20px #7DF9FF; /* Additional outer light blue glow */
}


button:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(15rem, 0);
}

button:hover .button-text {
 color: #fff;
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  padding: 5rem 10%;
}

.about-img {
  max-width: 50%;
  max-height: 90%;
  flex: 1;
}

.about-img img {
  max-width: 60%;
  height: auto;
  border-radius: 8px;
  display: block;
  transform: translateX(-50px);
  transition: opacity 1s linear, transform 1s linear;
}

.about-img.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.about-text {
  flex: 1.5;
}

.about-text h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.about-text h2 span {
  color: #7DF9FF;
}

.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about {
      flex-direction: column; /* Stack the elements vertically on smaller screens */
  }

  .about-img,
  .about-text {
      flex: none; /* Do not allow the children to grow or shrink */
      max-width: 100%; /* Set maximum width to 100% for small screens */
  }

  .about-text h2 {
      font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .about-text p {
      font-size: 18px; /* Adjust paragraph font size for readability */
  }
}

.button-back {
  display: block;
  position: absolute;
  top: 8rem;
  left: 4rem;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  border: 0;
  cursor: pointer; /* Add cursor pointer to signify clickable element */
}

.button-back:before,
.button-back:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 5px; /* Make sure this works in your target browsers, as 'inset' is relatively new */
}

.button-back:before {
  border: 4px solid #F0EEEF;
  transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
}

.button-back:after {
  border: 4px solid #7DF9FF;
  transform: scale(1.3);
  transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
  opacity: 0;
}

.button-back:hover:before,
.button-back:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
}

.button-back:hover:after,
.button-back:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
}

.button-box-back {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  width: 1.5rem;
  height: auto;
  margin: 10px 12px 0 18px;
  transform: rotate(180deg);
  fill: #F0EEEF;
}

.button-back:hover .button-box-back,
.button-back:focus .button-box-back {
  transition: .4s;
  transform: translateX(-56px);
}


@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideTop {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideBottom {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.main-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: white;
}

.main-skills-container { 
  /*rounded edges*/
  border-radius: 5%;
  margin: 5%;
  /*tranparent with 40% black*/
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height:90%;
  margin: 5%;
  margin-top: 8%;
  padding: 20px;
}

.card {
  overflow: visible;
  width: 25vh;
  height: 50vh;
  border-radius: 5% !important;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back-card {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back-card {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.back-card::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 25vh;
  height: 160%;
  background: linear-gradient(90deg, transparent, #7DF9FF, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-card-content {
  position: absolute;
  width: 98%;
  height: 99%;
  background-color: #000;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.front-content .badge {
  background-color: #00000055;
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
  margin: 20px
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 90%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  margin: 10px;
}

.title {
  font-size: 5px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #7DF9FF;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #d6249f;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #285AEB;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.description li { 
  font-size: 32px;
}