.App {
  /*adjusting according to screen size*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /*fitting image to entire screen*/
  background-image: url('/workspaces/sri-s_portfolio/sri-s_portfolio/src/Images/background home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: center;
  margin: 0;
  padding: 0;
}

.Home {
  /*adjusting according to screen size*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /*fitting image to entire screen*/
  background-image: url('/workspaces/sri-s_portfolio/sri-s_portfolio/src/Images/background home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: center;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  padding: 20px 2.5%;
  background: linear-gradient(#000000 50%, transparent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header h4 { 
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 1;
  animation: slideRight 1s ease forwards;
}


.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
  opacity: 1;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
  color: #7DF9FF;
}

.home-container { 
  /*rounded edges*/
  border-radius: 5%;
  margin: 5%;
  /*tranparent with 40% black*/
  background: rgba(0, 0, 0, 0.50);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 5%
}

.home { 
  /*placing items side by each other*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;

}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1ss ease forwards;
  animation-delay: .7s;
}

.text {
  color: #7DF9FF;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
  
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #7DF9FF;
  border-radius: 50%;
  font-size: 20px;
  color: #7DF9FF;
  text-decoration: none;
  transition: .5s ease;
  
  animation: slideTop 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
  margin: 30px 15px 30px 0;
}


.linkedinCircle {
  border: 2px solid #0e76a8; /* LinkedIn Blue border */
  color: #0e76a8; /* LinkedIn Blue icon */

}

.linkedinCircle:hover {
  background-color: #0e76a8 !important; /* LinkedIn Blue background on hover */
  color: #fff !important; /* White icon on hover */
}

.githubCircle { 
  border: 2px solid #fafafa; /* GitHub Black border */
  color: #fafafa; /* GitHub Black icon */
}

.githubCircle:hover {
  background-color: #fafafa !important; /* GitHub background on hover */
  color: #000 !important; /* GitHub icon color on hover */
}

.InstagramCircle { 
  border: 2px solid radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); /* Instagram linear gradient from F5 */
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); /* Instagram Purple icon */

}

.InstagramCircle:hover { 
  background-color: #dd2a7b !important; /* Instagram Purple background on hover */
  color: #fafafa !important; /* White icon on hover */
}

.discordCircle {
  border: 2px solid #7289da; /* Discord Blue border */
  color: #7289da; /* Discord Blue icon */
}

.discordCircle:hover {
  background-color: #7289da !important; /* Discord Blue background on hover */
  color: #fff !important; /* White icon on hover */
}

.spotifyCircle { 
  border: 2px solid #1ed760; /* Spotify Green border */
  color: #1ed760; /* Spotify Green icon */
}

.spotifyCircle:hover { 
  background-color: #1ed760 !important; /* Spotify Green background on hover */
  color: #000 !important; /* White icon on hover */
}

.home-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-img .Logo{
  width: 50%;
  height: auto;
  margin: 10px;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
  border-radius: 20%;
}

button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
 margin-top: 20px;
}

button.learn-more {
 width: 16rem;
 height: auto;
}

button.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #282936;
 border-radius: 1.625rem;
}

button.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

button.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: -0.5rem;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

button:hover .circle {
 width: 18rem;
}

button:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(15rem, 0);
}

button:hover .button-text {
 color: #fff;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideTop {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideBottom {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

